

*{
    box-sizing: border-box;
}


/* card syling */
.card{
    background-color: #587DCA;
    width: 40%;
    border: 1px solid black;
    padding: .7em 0;
    border-radius: 20px;
    text-align: center;
    margin: 1em;
    box-shadow: 1px 1px 1px 1px rgb(78, 1, 55);
}

.movie-poster{
    width: 50%;
    max-width: 300px;
    height: auto;
    padding-top: 10px;
    display: block;
    margin: 0 auto; 
}

.movie-title{
    color: white;
    font-size: 1.5em;
    font-weight: bolder;
    padding: .5em;
    margin: 0;
    text-align: center;
}

.movie-description{
    color: white;
    font-size: 1.2em;
    padding: .5em;
    letter-spacing: .5px;
    line-height: 1.1em;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
  
}

.movie-releaseDate{
    color: white;
    font-size: 1.2em;

    
}



